{% extends 'learning_logs/base.html' %}

{% block page_header %}
<h2>{{ topic.text }}
    <a class="btn btn-primary btn-sm mb-6 mt-1 "
       href="{% url 'learning_logs:edit_topic' topic.id %}">
        编辑名称 &raquo;</a>
    <a class="btn btn-danger btn-sm mb-6 mt-1"
        href="{% url 'learning_logs:delete_topic' topic.id %}">
        删除主题 &raquo;</a>
</h2>
{% endblock page_header %}

{% block content %}

<p>
    <a class="btn btn-primary  mt-1"
       href="{% url 'learning_logs:new_entry' topic.id %}">添加新的条目 &raquo;</a>
</p>

<ul>
    {% for entry in entries %}
        <div class="card mb-3">
            <!-- 包含时间戳和编辑链接的标题 -->
            <h4 class="card-header">
                {{entry.date_added|date:'M d, Y H:i'}}
                <a class="btn btn-primary btn-sm " href="{% url 'learning_logs:edit_entry' entry.id %}">
                    编辑</a>
                <a class="btn btn-danger btn-sm " href="{% url 'learning_logs:delete_entry' entry.id %}">
                    删除</a>
            </h4>
            <!-- 包含条目文本的正文 -->
            <div class="card-body">{{ entry.text|linebreaks }}</div>
        </div>
    {% empty %}
        <p>您还没在此主题下创建条目.(There are no entries for this topic yet.)</p>
    {% endfor %}


</ul>

{% endblock content %}